name: Build and Upload Debian Package

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up GPG
        run: |
          echo "${{ secrets.GPG_KEY }}" | gpg --import
          echo "${{ secrets.GPG_OWNERTRUST }}" | gpg --import-ownertrust

      - name: Update package index and install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y --fix-missing lintian
        env:
          DEBIAN_FRONTEND: noninteractive

      - name: Run build and upload script
        run: ./hpuefi-package.sh
        env:
          DEBIAN_FRONTEND: noninteractive
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
